/* ===== RESET / BASE ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* =============================================== */
/* ===== CPP ONE-ROW HEADER LIKE OFFICIAL CPP ===== */
/* =============================================== */

.cpp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 35px;
    border-bottom: 1px solid #ddd;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cpp-logo {
    height: 50px; 
}

.cpp-wordmark {
    font-size: 32px;
    font-weight: 700;
    color: #154734;
    font-family: Georgia, serif; 
    letter-spacing: 0.5px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-right a {
    text-decoration: none;
    color: #154734;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-right a:hover {
    color: #00703c;
}

.header-right .icon {
    font-size: 22px;
    cursor: pointer;
    color: #154734;
}

.navbar {
    background: #f7f7f7;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 0;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #154734;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 5px;
}

.menu a:hover {
    color: #00703c;
}


.menu > li {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: 220px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 10;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    color: #154734;
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a:hover {
    background: #e6e6e6;
}

.hero {
    padding: 70px 20px;
    background: #FFC72C;
    color: #154734;
    text-align: center;
}

.hero h2 {
    font-size: 34px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}